html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

:root {
  --bg-dark: #F1EFE9;
  --bg: #FBFAF7;
  --red: #B10B3A;
  --black: #333332;
  --orange: #E89D39;
  --orange-d: #DC8C21;

  /* 24 -> 90 */
  --space-m-3xl: clamp(1.5rem, 0.3214rem + 5.8929vw, 5.625rem);
  /* 160px -> 30px */
  --s-xxl: clamp(1.875rem, 20.666rem + -50.1931vw, 10rem);
  /* Space s: 24px → 50px */
  --sp-m-l: clamp(1.5rem, 0.8082rem + 2.5743vw, 3.125rem);
  /* Space s: 60px → 30px */
  --s-l-m: clamp(1.875rem, 4.5483rem + -2.9703vw, 3.75rem);
  /* Space s: 60px → 22px */
  --s-l-s: clamp(1.375rem, 4.4841rem + -3.4545vw, 3.75rem);
  /* Space s: 27px → 60px */
  --m-xl: clamp(1.6875rem, 1.05rem + 3vw, 3.75rem);
  /*  64px → 110px */
  --s-l-xl: clamp(4rem, -4.1458rem + 38.3333vw, 9rem);
  /* Space s: 16px → 30px */
  --s-s: clamp(1rem, 0.7295rem + 1.2727vw, 1.875rem);
  /* Space s: 27px → 35px */
  --s-s-m: clamp(1.6875rem, 1.5083rem + 0.7547vw, 2.1875rem);
  /* Space s: 60px → 100px */
  --s-l-xl-2: clamp(3.75rem, -0.5682rem + 18.1818vw, 6.25rem);
  /* Space s: 80px → 192px */
  --s-intro: clamp(5rem, 1.7561rem + 13.6585vw, 12rem);
  /* Space s: 80px → 125px */
  --s-xl-xl: clamp(5rem, 3.9917rem + 4.2453vw, 7.8125rem);
  /* Space s: 240px → 300px */
  --s-xxl-xxl: clamp(8rem, 7rem + 5.6604vw, 18.75rem);

  /* Space s: 0px → 96px */
  --special-hero: clamp(0rem, -30rem + 40vw, 6rem);

  --s-xxxl: 15rem;
  --s-0: 0.9375rem;
  /*15*/
  --s-1: 1rem;
  --s-2: 2rem;
  --s-3: 2.5rem;
  --s-4: 3rem;

  --f-5: 2.1875rem;
  --f-16: 1.03125rem;
  --f-17: 1.09375rem;

  /* Step 0: 17.5px → 16.5px */
  --f-s: clamp(1.0313rem, 1.1204rem + -0.099vw, 1.0938rem);
  /* Step 0: 18px → 24px */
  --f-s-m: clamp(1.125rem, 0.9653rem + 0.5941vw, 1.5rem);
  /* Step 0: 17.5px → 20px */
  --f-xs-0: clamp(1.0938rem, 1.0455rem + 0.2273vw, 1.25rem);
  /* Step 0: 18.5px → 20px */
  --f-0: clamp(1.1563rem, 1.1163rem + 0.1485vw, 1.25rem);
  /* Step 0: 20px → 28px */
  --f-m-l: clamp(1.25rem, 1.0371rem + 0.7921vw, 1.75rem);
  /* Step 1: 20px → 23.9px */
  --f-1-2: clamp(1.25rem, 1.1787rem + 0.3566vw, 1.4996rem);
  /* Step 1: 22.2px → 24px */
  --f-1: clamp(1.3875rem, 1.3396rem + 0.1782vw, 1.5rem);
  /* Step 0: 22px → 31.9px */
  --f-1-l: clamp(1.375rem, 1.1116rem + 0.9802vw, 1.9938rem);
  /* Step 1: 24px → 27.6px */
  --f-2: clamp(1.5rem, 1.4042rem + 0.3564vw, 1.725rem);
  /* Step 0: 27px → 42.6px */
  --f-3: clamp(1.5rem, 1.2rem + 1.4717vw, 2.6625rem);
  /*  80px → 230px */
  --f-big: clamp(5rem, 1.0087rem + 14.8515vw, 14.375rem);
  /* Step -1: 16.6667px → 19.1667px */
  --f-xs: clamp(1.0417rem, 0.9751rem + 0.2475vw, 1.1979rem);
  /* Step 0: 20px → 23px */
  --f-m: clamp(1.25rem, 1.1702rem + 0.297vw, 1.4375rem);
  /* Step 2: 25px → 31.9px */
  --f-l: clamp(1.5625rem, 1.4378rem + 0.6236vw, 1.999rem);
  /* Step 3: 31.2px → 42.6px */
  --f-l-xl: clamp(1.9531rem, 1.7498rem + 1.0165vw, 2.6647rem);
  /* Step 4: 39px → 56.8px */
  --f-xl: clamp(2.4414rem, 2.1241rem + 1.5866vw, 3.552rem);
  /* Step 0: 180px → 200px */
  --f-xxxl: clamp(11.25rem, 10.8019rem + 1.8868vw, 12.5rem);
  /* Step 0: 115px → 230px */
  --f-xxxxl: clamp(5rem, 2.4882rem + 13.2075vw, 14.375rem);
  /* Space s: 18px → 24px */
  --f-quote: clamp(1.1875rem, 0.996rem + 0.8065vw, 1.5rem);

  /* Step 0: 32px → 58px */
  --f-words: clamp(2rem, 1.4175rem + 2.4528vw, 3.625rem);

  /*  290px → 323px */
  --width-text: clamp(18.125rem, 17.4875rem + 3vw, 20.1875rem);
  /* Space s: 200px → 330px */
  --width-text-2: clamp(11.875rem, 2.8846rem + 42.3077vw, 18.75rem);
}

body {
  background-color: var(--bg);
  margin: 0 auto;
  font-family: "Yaldevi", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--black);
  line-height: 134%;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

html:not(.has-js) body {
  overflow-y: auto;
}

@font-face {
  font-family: 'Optima';
  src: url('../assets/fonts/OPTIMA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.optima {
  font-family: 'Optima', sans-serif
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.container {
  max-width: 1800px;
  overflow: hidden;
  place-self: center;
  width: 100vw;
  font-family: "Yaldevi", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  line-height: 134%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: no-wrap;
  width: 1px;
}

.button-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  max-width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.button-grid:hover .svg__red {
  cursor: pointer;
  stroke: var(--red);
}

.button-grid:hover.svg__big {
  cursor: pointer;
  transform: scale(1.07);
}

/*loading*/

.loading {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  background-color: var(--bg);
  place-self: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  justify-items: center;
  background-image: url(../assets/img/texture-loading-phone.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.loading__title {
  color: var(--bg-dark);
  font-size: var(--f-big);
  font-weight: bold;
  place-self: center;
  grid-row: 1;
  grid-column: 1/span 4;
  margin-bottom: var(--s-xxxl);
}

.loading__circle {
  object-fit: cover;
  grid-column: 2/span 2;
  grid-row: 1;
}

picture {
  display: block;
}

.loading__img--pl {
  width: 33.3rem;
}

.loading__img--pa {
  width: 7.9rem;
}

.plantin-hero {
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-content: center;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: var(--s-xxxl);
  margin-right: var(--s-xxl);
}

.plantin-hero--pl {
  grid-column: 1/ span 2;
  grid-row: 1;
}

.plantin-hero--pa {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  margin-bottom: var(--s-1);
}


/* hero */

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
  width: 100vw;
  overflow: hidden;
  background-image: url(../assets/img/texture-phone-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: var(--s-3) var(--space-m-3xl) 0 var(--space-m-3xl);
  justify-content: space-between;
}

.navigation__button {
  display: grid;
  align-items: center;
  justify-items: center;
  width: fit-content;
}

.button__text,
.button__img {
  grid-row: 1;
  transition: color 0.2s ease-in-out;
  grid-column: 1;
}

.button__text {
  font-size: var(--f-m);
}

.navigation__logo {
  width: 5.6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
}

.navigation__button:hover .svg__stroke {
  cursor: pointer;
  stroke: var(--red);
}

.svg__stroke {
  transition: stroke 0.2s ease-in-out;
}

.navigation__button:hover .button__text {
  color: var(--red);
  cursor: pointer;
}

/*hamburger menu*/
.hamburger {
  z-index: 3;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  display: grid;
  grid-template-rows: auto 1fr 2fr;
  padding: var(--s-3) 0 0;
  overflow: hidden;
}

.close-btn {
  margin-left: var(--space-m-3xl);
  width: 3.8rem;
}

.menu__museum,
.menu__story {
  display: flex;
  flex-flow: column;
  gap: var(--s-3);
  justify-items: center;
  align-items: center;
}

.menu__museum {
  margin-top: var(--s-1);
}

.menu__story {
  margin-top: var(--s-4);
}

.menu__title {
  font-size: var(--f-5);
  text-align: center;
}

.menu__title--story {
  color: var(--red);
  margin-top: var(--s-2);
}

.menu__title--museum {
  color: var(--orange-d);
}

.menu__list {
  list-style: none;
  justify-items: center;
}

.menu__item {
  font-size: var(--f-1);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

*+.menu__item {
  margin-top: var(--s-3)
}

.menu__item:hover {
  color: var(--red);
}

.menu__story::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 100%;
  background-color: var(--bg-dark);
  border-radius: 50%;
  z-index: -1;
}

.menu__list--m {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: var(--sp-m-l);
  max-width: 30rem;
}

.menu__list--m .menu__item {
  margin-top: 0;
}

.menu.active {
  display: block;
}

.menu {
  display: none;
}

.close-btn:hover,
.navigation__hamb {
  cursor: pointer;
  stroke: var(--red);
}

/* hero*/

.hero {
  display: flex;
  flex-flow: column;
}

.plantin {
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-content: center;
  width: 21.5rem;
  grid-column: 1 / span 2;
  grid-row: 2/span 2;
  transform: translateX(-30%);
  margin-top: var(--s-l-s);
  width: 18rem;
}

.plantin__passer {
  margin-bottom: 43%;
}

.hero .hidden {
  display: none;
}

html:not(.has-js) .hidden {
  display: flex;
}

html:not(.has-js) .nojs-hide {
  display: none;
}

.button__text--hero {
  color: var(--red);
  font-size: var(--f-l);
}

.introduction__title,
.start__title {
  font-size: var(--f-xl);
}

.red {
  color: var(--red);
}

.introduction__text {
  font-size: var(--f-xs-0);
  text-align: center;
  margin-bottom: var(--s-0);
}

.introduction {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: var(--width-text);
  gap: var(--s-s);
  grid-column: 2/ span 2;
  grid-row: 2;
  margin-right: var(--space-m-3xl);
  justify-self: end;
}

.hero__button {
  width: 100%;
}

.start__text {
  font-size: var(--f-s);
}

.bold {
  font-weight: 600;
}

.plantin__name,
.house__name {
  color: var(--orange-d);
}

.plantin__name {
  font-size: var(--f-s-m);
  max-width: 6rem;
  margin-left: var(--space-m-3xl);
  grid-row: 1;
  position: relative;
}

.plantin__name::after {
  content: "";
  position: absolute;
  left: 8%;
  top: 8rem;
  width: 4.6rem;
  height: 0.8px;
  background-color: var(--black);
  transform: rotate(-80deg);
  transform-origin: left bottom;
}

.house__name {
  font-size: var(--f-m-l);
}

.big {
  font-size: var(--f-1-l);
}

.hero__plantin {
  display: grid;
  grid-template-columns: 15% 45% 40%;
  grid-template-rows: 25% 75%;
  margin-top: 4.5rem;
}

.start {
  grid-row: 1/ span 2;
  grid-column: 2/span 2;
  justify-self: center;
  margin-right: var(--space-m-3xl);
  display: flex;
  flex-flow: column;
}

.start__title {
  margin-left: -2rem;
  margin-bottom: var(--m-xl);
  line-height: 110%;
}

.start__text {
  max-width: 22rem;
}

.start__title--low {
  margin-left: 2rem;
}

.start__text--right {
  margin-top: var(--sp-m-l);
  margin-bottom: var(--s-2);
  max-width: var(--width-text-2);
  align-self: end;
}

.hero__house {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  background-image: url(../assets/img/background-house.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: 100%;
  background-position-y: 100%;
}

.house {
  grid-column: 1/ span 3;
  grid-row: 2;
  width: 100%;
  z-index: 1;
  transform: translateX(8%);
}

.house__name,
.house__name--animation {
  grid-column: 2/span 2;
  grid-row: 1;
  justify-self: center;
  margin-bottom: var(--f-s);
}

.house__name--animation {
  grid-row: 1/span 2;
  width: 213px;
  height: 54px;
  align-self: start;
  object-fit: cover;
  margin-top: -1rem;
}

.sign,
.sign-sold {
  grid-column: 1/span 2;
  grid-row: 2;
  transform: translateX(7%) rotate(-10deg);
}

.hero__house.before {
  margin-top: var(--s-l-xl);
}

.button__img--hero {
  width: 170px;
}

.hero {
  height: 100%;
}

/* intro */

.cp__img--desktop,
.intro__math {
  display: none;
}

.intro {
  display: flex;
  flex-flow: column;
  margin-top: var(--s-intro);
}

.intro__inf {
  max-width: 476px;
  margin: 0 var(--space-m-3xl);
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--m-xl);
  order: -1;
  align-self: center;
}

.year-letter {
  color: var(--red);
  font-size: var(--f-xxxl);
  text-align: center;
}

.year-letter--1 {
  padding-left: 1rem;
}

.year-container {
  margin-left: -1rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  height: 8rem;
  align-items: center;
  justify-items: center;
}

.inf__text {
  text-align: center;
  max-width: 18rem;
}

.intro__cp {
  margin-top: -4rem;
  display: grid;
  align-items: center;
}

.cp__passer,
.cp__img {
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
}

.cp__img--phone {
  margin-top: 5rem;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}

.cta__arrow {
  animation: bounce 1.5s infinite;
}

/* the symbol */
.stamp__title {
  font-size: var(--f-l-xl);
  margin-bottom: var(--s-s-m);
}

.stamp__subtitle,
.stamp__text2 {
  font-size: var(--f-16);
  max-width: 445px;
}

.stamp__text2 {
  max-width: clamp(15rem, 7.5469rem + 33.125vw, 28.25rem);
}

.stamp {
  display: flex;
  flex-flow: column;
  padding: 0 var(--space-m-3xl);
}

.note__text {
  color: var(--red);
  font-size: var(--f-16);
  font-weight: bold;
  max-width: var(--width-text-2);
  text-align: center;
}

.stamp__note {
  width: fit-content;
  align-self: flex-end;
  margin-top: var(--f-xl);
}

.note__arrow {
  margin-left: var(--s-s-m);
  margin-top: var(--s-s);
}

.desktop-show {
  display: none;
}

.stamp__pickup {
  display: grid;
  grid-template-rows: 30% 5% auto;
  margin-top: -4rem;
  margin-bottom: var(--s-l-xl-2);
}

.stamp__img {
  grid-row: 1/span 2;
  grid-column: 1;
  z-index: 1;
  width: 12rem;
  margin-left: -0.5rem;
}

.pickup__interactive {
  grid-row: 2/span 2;
  grid-column: 1;
  align-self: end;
  justify-self: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.pickup__inner,
.pickup__outer {
  grid-row: 1;
  grid-column: 1;
}

.pickup__inner {
  transition: opacity 0.3s ease-in-out;
}

.extra-info {
  position: relative;
  display: inline-block;
}

.extra-info-stamp {
  margin-top: -2rem;
  align-self: end;
}

.extra-img {
  cursor: pointer;
}

.extra-img:hover .extra__img--pop {
  transform: scale(1.1);
}

.extra__img--pop {
  transition: transform 0.3s ease;
}

.extra-popup {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-90%);
  background-color: var(--bg);
  border: 2px solid var(--black);
  border-radius: 10px;
  padding: var(--s-s-m);
  width: var(--width-text);
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  padding-top: 1rem;
  display: flex;
  flex-flow: column;
}

.extra-popup.active {
  opacity: 1;
  visibility: visible;
}

.popup__title {
  color: var(--red);
  font-size: var(--f-l);
  margin-bottom: var(--s-s);
}

.popup__info {
  color: var(--black);
  font-size: var(--f-16);
  line-height: 1.4;
}

.close-popup:hover {
  transform: scale(1.1);
}

.close-popup {
  cursor: pointer;
  margin-bottom: 0.3rem;
  align-self: flex-end;
}

.stamp__bottom {
  display: grid;
  grid-template-columns: 75% auto;
}

.extra-popup:target {
  opacity: 1;
  visibility: visible;
}

/* history*/

.button__text--quiz {
  font-size: var(--f-16);
  max-width: 13rem;
}

.history {
  display: flex;
  flex-flow: column;
  padding: 0 var(--space-m-3xl);
  margin-top: var(--s-xl-xl);
  width: 100vw;
}

.history__title {
  font-size: var(--f-l-xl);
}

.history__subtitle {
  font-size: var(--f-17);
  margin-top: var(--s-0);
  max-width: var(--width-text);
  text-align: center;
}

.history__explain {
  max-width: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
}

.printmark1__name,
.printmark2__name {
  font-size: var(--f-1-2);
  font-weight: 500;
}

.quiz__title,
.quiz__latin,
.quiz__title {
  font-size: var(--f-17);
}

.printmark1 {
  display: grid;
  grid-template-columns: 6.5rem repeat(2, 33%);
  grid-template-rows: repeat(3, auto);
  margin-top: 4rem;
  max-width: 450px;
  align-self: center;
  justify-content: center;
}

.printmark1__name {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.printmark1__img {
  grid-row: 2;
  grid-column: 2;
  width: clamp(10rem, 35vw, 20rem);
  justify-self: self-end;
}

.printmark1__number {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  margin: -2rem 0 0 -3rem;
  align-self: start;
  z-index: -1;
}

.printmark2 {
  display: grid;
  grid-template-columns: repeat(2, 33%) 6.5rem;
  grid-template-rows: repeat(3, auto);
  max-width: 450px;
  align-self: center;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.printmark2__name {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.printmark2__img {
  grid-row: 2;
  grid-column: 2;
  width: clamp(10rem, 35vw, 20rem);
  justify-self: self-end;
  margin-right: 1.5rem;
}

.printmark2__number {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
  margin-top: -2rem;
  align-self: end;
  z-index: -1;
  width: 110%
}

.quiz {
  grid-row: 3;
  grid-column: 1 / span 3;
  display: grid;
  justify-items: center;
  max-width: 19.8rem;
  justify-self: center;
  margin-top: var(--s-0);
}

.quiz__input,
.quiz__motto,
.quiz-feedback {
  grid-row: 1;
  grid-column: 1;
}

.quiz-feedback {
  z-index: -1;
}

.feedback {
  max-width: 10rem;
}

.quiz__motto,
.quiz__input {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--s-0);
}

.quiz__input {
  position: relative;
}

.quiz__close {
  position: absolute;
  left: -5%;
  top: -5%;
  transition: transform 0.2s ease-in-out;
}

.quiz__close--2 {
  left: -10%
}

.quiz__close:hover {
  transform: scale(1.1);
}

*+.option {
  margin-top: var(--s-0);
}

.quiz__latin {
  text-align: center;
  max-width: 13.75rem;
  margin-bottom: var(--s-0);
}

.quiz__input {
  display: none;
}

.extra-info-history {
  align-self: end;
}

html:not(.has-js) .quiz__guess {
  display: none;
}

/* compasses */
.third {
  display: grid;
  overflow: hidden;
  margin-top: var(--s-4);
  width: 100vw;
}

.third__bgtext,
.third__compasses {
  grid-row: 2;
  grid-column: 1/span 2;
  justify-self: center;
  align-self: center;
}

.third__bgtext {
  color: var(--bg-dark);
  font-size: var(--f-xxxxl);
  font-weight: bold;
}

.third__compasses {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.compasses__outline,
.compasses__leg,
.compasses__rest {
  grid-row: 1;
  grid-column: 1;
}

.compasses__leg {
  z-index: 1;
  transform-origin: 55% 19%;
}

.third__quote {
  grid-column: 1/span 2;
  justify-self: center;
  text-align: center;
  font-size: var(--f-3);
  line-height: 110%;
  max-width: 50rem;
  margin: 0 var(--space-m-3xl);
  margin-top: var(--s-l-m);
}

.quote__interact {
  opacity: 0.5;
  color: var(--orange);
}

.compass__note {
  justify-self: end;
  margin-right: var(--space-m-3xl);
  max-width: 12rem;
  align-self: center;
}

.note__arrow--compass {
  transform: rotate(-30deg);
  margin: var(--s-2) 0 0 var(--s-l-m);
}

.compasses__circle {
  width: 0;
  height: 0;
  border: 2px dashed var(--black);
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

.compasses__reset {
  margin-top: var(--s-3);
  border: 0.1rem solid var(--red);
  border-radius: 30px;
  padding: 0.4rem 1.2rem;
  font-size: var(--f-m);
  color: var(--red);
  transition: border 0.3s ease-in-out;
  display: none;
  position: absolute;
  bottom: -12%;
}

.compasses__reset:hover {
  border: 0.2rem solid var(--red);
}

.history,
.third {
  flex: 0 0 100vw;
}

/*
.third__compasses.moving {
  position: absolute;
  transform: translateY(clamp(15%, 10vw, 5%));
}

.third__compasses.static{
  opacity: 0;
}*/

/*koepel*/

.koepel {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-top: var(--s-xxl-xxl);
}

.words {
  background-image: url('../assets/img/circle-words.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0.7rem;
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(3, 33%);
  margin: 0 var(--space-m-3xl);
  justify-items: center;
  height: fit-content;
  row-gap: 1.7rem;
}

.word {
  font-size: var(--f-words);
  color: #BDB8A9;
  z-index: 1;
  transition: color 0.3s ease-in-out;
}

.word:hover {
  color: var(--black);
  cursor: pointer;
}

.word.harmony {
  grid-row: 1;
  grid-column: 4;
}

.word.constancy {
  grid-row: 2;
  grid-column: 2;
}

.word.balance {
  grid-row: 2;
  grid-column: 6;
}

.word.promise {
  grid-row: 3;
  grid-column: 6/span 2;
}

.word.labor {
  grid-row: 3;
  grid-column: 1/span 2;
  justify-self: start;
}

.koepel__sitting {
  margin-top: var(--s-l-m);
  display: flex;
  flex-flow: column;
  grid-row: 2;
  grid-column: 1;
  align-items: center;
}

.sitting__img {
  display: grid;
  grid-template-columns: auto 1rem;
  align-items: center;
  background-image: url(../assets/img/lines-underplantin.svg);
  background-repeat: no-repeat;
  background-position-y: 90%;
  background-size: 100%;
}

.sitting__plantin {
  max-width: 300px;
  grid-row: 1;
  grid-column: 1/span 2;
}

.sitting__passer {
  grid-row: 1;
  grid-column: 2;
  margin-top: 5rem;
}

.sitting__text {
  margin: var(--s-s-m) var(--space-m-3xl) 0 var(--space-m-3xl);
}

.sitting__text--p {
  font-size: var(--f-m);
  line-height: 123%;
  max-width: 590px;
  margin-top: var(--s-s-m)
}

.sitting__title {
  font-size: var(--f-l-xl);
}

.koepel__reveal {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
  justify-items: center;
  width: 100vw;
  grid-column: 1;
  margin-top: clamp(4.5rem, 10vw, 1rem);
}

html:not(.has-js) .reveal__note,
html:not(.has-js) .stamp__note,
html:not(.has-js) .compass__note {
  display: none;
}


html:not(.has-js) .stamp__pickup {
  margin-top: var(--s-xxl);
}

html:not(.has-js) .hero__house.before {
  margin-top: var(--s-s);
}

html.has-js .koepel__reveal {
  grid-row: 2;
}

.reveal__images {
  display: grid;
}

.reveal__img {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: var(--s-s);
}

.reveal__text {
  text-align: left;
  display: flex;
  flex-flow: column;
  gap: var(--f-m-l);
  max-width: 26.8rem;
  margin: 0 var(--space-m-3xl);
  justify-self: start;
}

.reveal__note {
  display: flex;
  flex-flow: column;
  justify-self: end;
  margin-right: var(--space-m-3xl);
  margin-top: -5%;
  margin-bottom: var(--s-s);
}

.note__arrow--reveal {
  order: -1;
  width: 1.6rem;
  align-self: center;
  margin: 0;
  margin-bottom: 1rem;
}

.test {
  margin-top: 200rem;
}

.show {
  display: none;
  transition: opacity 0.3s ease;
}

.show.active {
  display: flex;
}

/* motto */

.motto {
  background-image: url(../assets/img/motto-bg-small.svg);
  background-size: 100%;
  background-position-y: 10%;
  background-repeat: no-repeat;
  margin-top: var(--s-xl-xl);
}

.motto__labcon {
  display: flex;
  flex-flow: column;
}

.motto__printmark {
  align-self: center;
}

.themotto__text,
.labor__text {
  font-size: var(--f-16);
}

.themotto__title,
.labor__title {
  font-size: 1.5625rem;
  font-weight: bold;
}

.themotto__title {
  background-image: url(../assets/img/img_motto-w.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1.5rem 2rem 2rem 10rem;
  width: fit-content;
  align-self: flex-end;
  margin-top: var(--s-0);
}

.themotto__text {
  max-width: clamp(18.75rem, 9.5565rem + 38.7097vw, 33.75rem);
  margin: 0 var(--space-m-3xl);
}

.motto__themotto {
  width: fit-content;
  display: flex;
  margin-top: var(--s-l-m);
  flex-flow: column;
  align-self: flex-end;
}

.labor__text {
  max-width: clamp(18.75rem, 9.7635rem + 37.8378vw, 27.5rem);
  margin-left: 2.8rem;
}

.labor__title {
  background-image: url(../assets/img/img_labor-w.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1.7rem 3rem 2rem 2.5rem;
  width: fit-content;
  margin-top: var(--s-0);
}

.motto__pic {
  display: grid;
  grid-template-columns: 55%;
  align-items: center;
  overflow-x: hidden;
  width: clamp(23.75rem, 8.5152rem + 64.1463vw, 56.625rem);
  margin-top: -2rem
}

.motto__quote {
  font-size: var(--f-quote);
  color: var(--red);
  max-width: clamp(13.4375rem, 7.2393rem + 26.0976vw, 26.8125rem);
  line-height: 115%;
  grid-column: 2/span 2;
  grid-row: 1;
}

.motto__plantin {
  grid-column: 1/span 2;
  grid-row: 1;
}

.motto__labor {
  width: fit-content;
  margin-top: var(--s-l-m);
}

/* vs */
.motto__vs {
  display: flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  margin: var(--s-l-m) var(--space-m-3xl) 0 var(--space-m-3xl);
}

.vs__labor,
.vs__constancy {
  display: grid;
}

.labor__hover,
.constancy__hover {
  clip-path: circle(43% at 50% 50%);
  opacity: 0.8;
  object-fit: cover;
  grid-area: 1 / 1;
  transition: clip-path 0.4s ease, opacity 0.2s ease-in-out;
}

.vs__labor:hover .labor__hover,
.vs__constancy:hover .constancy__hover {
  clip-path: circle(100%);
  opacity: 1;
}

.vs__labor .labor__l,
.vs__constancy .constancy__c {
  grid-area: 1 / 1;
  z-index: 1;
}

.labor__l,
.constancy__c {
  margin-left: var(--s-s-m);
}

/* Apply the animation on click */
.vs__constancy.zoom-in .constancy__hover {
  animation: zoomIn 1s ease forwards;
  z-index: 5;
}

.vs__compass {
  display: grid;
  place-items: center;
  transform: rotate(90deg);
  margin: clamp(-12.5rem, -1.0417rem + -19.2982vw, -5.625rem) 0;
}

.vs__compass--img {
  grid-area: 1 / 1;
  z-index: 1;
}

.vs__compass--word {
  color: var(--bg);
  font-size: clamp(3.125rem, 2.1616rem + 4.0566vw, 5.8125rem);
  font-weight: bold;
  text-align: center;
  grid-area: 1 / 1;
  transform: rotate(-90deg);
}

.vs__compass--word1 {
  transform: rotate(-75deg);
  margin-right: 36%;
  margin-top: 30%;
}

.vs__compass--word2 {
  transform: rotate(-105deg);
  margin-left: 45%;
  margin-top: 50%;
}

.note__text--vs {
  font-weight: bold;
  font-size: var(--f-1-2);
}

.vs__note {
  display: flex;
  flex-flow: row;
  align-self: center;
  margin-bottom: var(--s-1);
}

.note__arrow--vs {
  margin: 0;
  margin-left: 1rem;
}

/* next story */

.next__title {
  font-size: var(--f-l-xl);
  margin-left: var(--space-m-3xl);
}

.curve--text,
.curve {
  grid-area: 1 / 1;
}

.curve-text {
  display: grid;
  margin-bottom: clamp(-12rem, 0.2264rem + -13.5849vw, -3rem);
  margin-top: var(--s-s-m);
}

.curve--text {
  margin: 3% 3% 0 0;
}

.next__first {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.portrait {
  width: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.portrait__name {
  font-size: var(--f-2);
  margin-top: var(--s-s-m);
  margin-bottom: var(--s-s);
}

.portrait__text {
  max-width: 32.5rem;
  text-align: center;
  font-size: clamp(1rem, 0.9664rem + 0.1415vw, 1.0938rem);
  ;
  margin: 0 var(--space-m-3xl);
}

.object {
  display: flex;
  flex-flow: row;
  margin-top: var(--f-3);
}

.object__note {
  order: 2;
  align-self: center;
}

.discover__title {
  font-size: var(--f-l-xl);
  margin-bottom: var(--s-s);
}

.next__discover {
  display: flex;
  flex-flow: column;
}

.discover__text {
  margin-top: var(--s-s-m);
}

.discover__block {
  width: fit-content;
  margin: 0 var(--space-m-3xl);
  display: flex;
  flex-flow: column;
}

.newsletter {
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--s-1);
  margin-top: var(--f-xl)
}

html:not(.has-js) .discover__block {
  margin-top: var(--s-xl-xl);
}

.input,
.submit {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

.input {
  border-bottom: 2px solid var(--red);
  padding-bottom: 5px;
  width: 15rem;
  font-size: var(--f-0);
}

.submit {
  background-color: var(--red);
  color: var(--bg);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  font-size: var(--f-16);
  transition: background-color 0.3s ease-in-out;
}

.submit:hover {
  background-color: darkred;
}

.discover__see {
  font-size: var(--f-3);
  text-align: center;
  line-height: 118%;
  width: fit-content;
  position: absolute;
  left: 30%;
  top: 20%;
}

.discover__img,
.discover__pic {
  position: relative;
  width: fit-content;
}

.discover__pic::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  width: 10rem;
  height: 10rem;
  background-color: var(--bg-dark);
  border-radius: 50%;
  z-index: -1;
}

html.has-js .next {
  display: grid;
}

html.has-js .next__first,
html.has-js .next__discover {
  grid-row: 1;
  grid-column: 1;
}

html.has-js .next__discover {
  margin-top: var(--s-xl-xl);
  display: none;
}

html:not(.has-js) .object {
  display: none;
}

/* footer */
.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url(../assets/img/footer-bg-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: var(--f-xxxl);
}

.museum {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: fit-content;
  margin-top: -5rem;
}

.visit {
  display: flex;
  flex-flow: row;
  margin-left: -3.5rem;
}

.visit__isit {
  font-size: 5rem;
  align-self: center;
  margin: 5rem 0 0 -3.5rem;
}

.museum__title {
  font-size: 2rem;
  margin-top: -2.3rem;
  margin-bottom: var(--s-4);
}

.museum__text {
  font-size: var(--f-16);
  max-width: 343px;
  text-align: center;
  margin: 0 var(--s-3);
  margin-bottom: var(--s-2);
}

.footer__nav--title {
  color: var(--red);
  font-size: 1.56rem;
  margin-bottom: 2rem;
}

.footer__story,
.footer__museum {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.story__links {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: var(--f-m);
  gap: 1.5rem;
}

.footer__nav {
  display: flex;
  flex-flow: row;
  margin-top: var(--s-l-m);
  gap: 1.5rem;
  margin-bottom: 5rem;
}

/* media */
@media (pointer: fine) {
  .desktop-show {
    display: inline;
  }

  .phone-show {
    display: none;
  }

}

@media (prefers-reduced-motion) {
  @keyframes bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(0);
    }
  }
}

@media only screen and (min-width: 430px) {
  .button__img--nav {
    width: 8.125rem;
  }

  .compass__note {
    margin-top: var(--s-xl-xl);
    align-self: end;
  }

  .plantin {
    width: 22rem;
    transform: translateX(-18%);
  }

  .introduction {
    justify-self: center;
  }

  .sign,
  .sign-sold {
    width: 14.5rem;
    transform: translateX(3%) rotate(-10deg);
    justify-self: flex-end;
  }

  .stamp__img {
    width: 80%;
    max-width: 20rem;
  }

  .stamp__pickup {
    margin-top: -6rem;
  }

  .hero__house.before {
    margin-top: 7rem;
  }
}

@media only screen and (min-width: 600px) {
  .hero__house.before {
    margin-top: var(--s-l-xl);
  }

  .third__3 {
    width: clamp(8rem, 20vw, 10rem);
  }

  .plantin {
    width: 25rem;
    transform: translateX(-14%);
    justify-self: start;
  }

  .plantin__name::after {
    transform: rotate(80deg);
    left: 10%;
    top: 3rem;
  }

  .plantin__name {
    align-self: center;
    max-width: 100%;
    grid-column: 1/ span 2;
  }

  .house__name--animation {
    height: 74px;
    width: 300px;
    margin-top: -3rem;
  }

  .button__img--hero {
    width: 220px;
  }

  .loading {
    grid-template-columns: 20% 20% 7.5% 5% 7.5% 20% 20%;
  }

  .loading__circle {
    width: 120%;
    grid-column: 2/span 5;
    margin-top: 20%;
  }

  .plantin-hero {
    margin-top: 20%;
    grid-column: 1/span 3;
    margin-right: 0;
  }

  .loading__title {
    grid-column: 1/ span 7;
  }

  .motto {
    background-image: url(../assets/img/motto-bg-mid.svg);
    background-size: 100%;
    background-position-y: 5%;
  }

  .pickup__inner {
    margin-left: 0.2rem;
  }

  .compasses__rest {
    width: 10rem;
  }

  .compasses__leg {
    width: 9rem;
  }
}

@media only screen and (min-width: 800px) {
  .compasses__reset {
    top: 30%;
    transform: translateX(-300%);
    bottom: auto;
  }

  .plantin {
    width: 35rem;
    transform: translateX(-8%);
    justify-self: start;
    margin-top: 1rem;
  }

  .plantin__passer {
    margin-bottom: 49%;
  }

  .plantin-img {
    justify-self: center;
  }

  .start {
    justify-self: auto;
    max-width: 650px;
  }

  .start__text {
    align-self: end;
    max-width: 22rem;
  }

  .start__title {
    align-self: start;
  }

  .sign,
  .sign-sold {
    width: 16rem;
  }

  .hero__house {
    background-size: 72%;
  }

  .intro__cp {
    width: fit-content;
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
  }

  .intro__inf {
    width: fit-content;
    grid-row: 1;
    grid-column: 1/ span 2;
    justify-self: center;
  }

  .intro {
    display: grid;
    margin-bottom: var(--s-l-xl-2);
  }

  .cp__img--phone {
    justify-self: start;
    transform: scale(-1.3, 1.3);
  }

  .cp__passer {
    transform: rotate(45deg);
    justify-self: start;
    margin-left: clamp(-2rem, -15rem + 24vw, 0rem);
  }

  .stamp {
    display: grid;
    grid-template-rows: repeat(3, auto);
  }

  .stamp__note {
    grid-row: 3;
    grid-column: 1;
    align-self: start;
  }

  .stamp__text2 {
    grid-row: 2;
  }

  .stamp__pickup {
    grid-row: 3;
    grid-column: 1/span 2;
    justify-self: end;
    grid-template-rows: auto;
    margin: 0;
    width: fit-content;
  }

  .pickup__interactive {
    grid-row: 1;
    grid-column: 2/ span 2;
  }

  .stamp__img {
    grid-row: 1;
    grid-column: 1/ span 2;
    align-self: end;
    max-width: 100%;
    width: auto;
  }

  .note__arrow--stamp {
    transform: scaleX(-1);
    margin-left: 6rem;
  }

  .extra-info-stamp {
    justify-self: end;
  }

  .history__explain {
    align-self: start;
    align-items: start;
    margin-bottom: var(--s-s-m);
  }

  .history__subtitle {
    text-align: left;
  }

  .printmark1,
  .printmark2 {
    max-width: 500px;
  }

  .quiz {
    grid-row: 2;
    grid-column: 3/ span 2;
    margin-left: var(--s-xl-xl);
  }

  .printmark2__name {
    width: fit-content;
    justify-self: end;
    grid-column: 1;
  }

  .printmark2 {
    margin-top: 4rem;
  }

  .compass__note {
    margin-right: var(--s-xl-xl);
  }

  .note__arrow--compass {
    margin: 0;
    margin-top: 2rem;
  }

  .words {
    background-size: 100%;
    row-gap: var(--s-s-m);
    height: clamp(9.375rem, -6.25rem + 31.25vw, 18rem);
  }

  .koepel__sitting {
    margin-top: 0;
  }

  .sitting__passer {
    margin-top: 7rem;
  }

  .sitting__img {
    position: relative;
    background-image: none;
  }

  .sitting__img::after {
    content: url(../assets/img/lines-underplantin.svg);
    position: absolute;
    bottom: 10%;
    left: -20%;
  }

  .reveal__note {
    grid-row: 2;
    grid-column: 1;
    max-width: 13rem;
  }

  .reveal__text {
    grid-row: 2;
    grid-column: 1;
  }

}

@media only screen and (min-width: 1000px) {
  html.has-js .horizontal {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 110vh;
  }

  html:not(.has-js) .hero__house.before {
    align-self: center;
  }

  .loading {
    background-image: url(../assets/img/texture-loading.png);
  }

  .plantin-hero {
    grid-column: 2/ span 3;
    margin-bottom: 15%;
    max-width: 35rem;
    margin-top: 0;
  }

  .loading__circle {
    margin-top: 3%;
    grid-column: 1/span 7;
    max-width: 60rem;
  }

  .loading__title {
    margin-bottom: 0;
  }

  .menu.active {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-3) var(--space-m-3xl);
  }

  .close-btn {
    align-self: flex-start;
    order: 3;
  }

  .menu {
    background-image: url(../assets/img/background-nav.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  .menu__story::before {
    content: "";
    background: none;
  }

  .menu__museum::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    transform: translate(-60%, -20%);
    width: 100%;
    border-radius: 50%;
    height: 180%;
    background-color: var(--bg-dark);
    z-index: -1;
  }

  .menu__museum {
    background: none;
    align-items: flex-start;
  }

  .menu__list--m {
    display: flex;
    margin-left: var(--sp-m-l);
    flex-flow: column;
    align-items: flex-start;
  }

  .menu__title--museum {
    margin-bottom: var(--sp-m-l);
  }

  .menu__story {
    margin-left: var(--s-xxxl);
  }

  header {
    background-image: url(../assets/img/texture-desktop-hero.png);
  }

  .sign,
  .sign-sold {
    width: 20rem;
    justify-self: start;
    align-self: end;
    transform: translate(-10%, 4%)
  }

  .hero__house {
    align-self: end;
  }

  .hero__house.before {
    margin-top: 0;
  }

  .intro__cp {
    width: fit-content;
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
  }

  .intro__inf {
    grid-column: 1/ span 3;
  }

  .intro__math {
    display: block;
    grid-row: 1;
    grid-column: 3;
    margin: -10rem 0 -15rem 0;
    justify-self: end;
    height: fit-content;
    align-self: center;
  }

  .math__img {
    height: clamp(34.375rem, -7.2917rem + 66.6667vw, 46.875rem);
  }

  .intro {
    margin-bottom: var(--s-l-xl-2);
  }

  .stamp {
    max-width: 1155px;
    place-self: center;
  }

  .stamp__pickup {
    grid-row: 1/ span 3;
    grid-column: 2;
  }

  .stamp__img {
    margin-bottom: -2rem;
  }

  .extra-info-stamp {
    grid-column: 1;
    align-self: end;
    justify-self: start;
    grid-row: 3;
  }

  .stamp__note {
    justify-self: end;
    margin-right: var(--s-s-m);
  }

  .pickup__inner {
    width: clamp(11.5rem, -2.9928rem + 23.1884vw, 12.5rem);
  }

  .extra-popup-stamp {
    transform: translateX(10%);
  }

  .history {
    display: grid;
    width: 100vw;
    max-height: 100vh;
  }

  .history__explain {
    grid-column: 2;
    align-self: end;
    justify-self: end;
    margin: 0;
  }

  .printmark1 {
    max-width: 450px;
    grid-row: 1/span 2;
  }

  .printmark1__img {
    width: clamp(10rem, 35vw, 16rem);
  }

  .printmark1__number {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    margin: -2rem 0 0 -3rem;
    align-self: start;
    z-index: -1;
  }

  .printmark2 {
    display: grid;
    grid-template-columns: repeat(2, 33%) 6.5rem;
    grid-template-rows: repeat(3, auto);
    max-width: 450px;
    align-self: center;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 2rem;
    grid-row: 2/span 2;
    justify-self: center;
  }

  .printmark2__name {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .printmark2__img {
    grid-row: 2;
    grid-column: 2;
    width: clamp(10rem, 35vw, 16rem);
    justify-self: self-end;
    margin-right: 1.5rem;
  }

  .printmark2__number {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    margin-top: -2rem;
    align-self: end;
    z-index: -1;
    width: 110%
  }

  .quiz {
    grid-row: 3;
    grid-column: 1 / span 3;
    display: grid;
    justify-items: center;
    max-width: 19.8rem;
    justify-self: center;
    margin-top: var(--s-0);
  }

  .quiz--1 {
    margin-top: -4rem;
  }

  .third {
    max-height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr auto;
  }

  .compasses__rest {
    width: 100%;
  }

  .compasses__leg {
    width: 90%;
  }

  .printmark2__name {
    grid-column: 1;
  }

  .third__3 {
    width: clamp(8rem, 20vw, 10rem);
    grid-row: 1 / span 2;
    grid-column: 1;
    align-self: center;
    justify-self: start;
    margin-bottom: var(--s-xl-xl);
  }

  .third__quote {
    height: fit-content;
    margin-top: var(--f-xl)
  }

  .compass__note {
    align-self: center;
    justify-self: end;
    margin-bottom: var(--s-xl-xl);
    grid-row: 1 / span 2;
    grid-column: 2;
    z-index: 1;
  }

  .printmark1__number {
    width: 100%;
    margin-left: -7rem;
  }

  .printmark1__img {
    margin-left: var(--s-0)
  }

  .reveal__images {
    grid-column: 1;
    grid-row: 1/ span 2;
    height: 25rem;
    width: auto;
    align-self: start;
  }

  .reveal__note {
    grid-row: 2;
    grid-column: 2;
    max-width: 18rem;
    flex-flow: row;
    align-items: center;
    gap: var(--s-0);
  }

  .note__arrow--reveal {
    transform: rotate(-90deg);
    margin-right: var(--s-s);
    margin-top: var(--s-0);
  }

  .reveal__text {
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    margin-left: var(--space-m-3xl);
    height: fit-content;
  }

  .koepel__reveal {
    gap: 0;
    justify-content: center;
    grid-template-columns: auto;
    height: fit-content;
    margin-top: var(--s-l-xl-2);
  }

}

@media only screen and (min-width: 1200px) {
  .hero {
    height: 94vh;
    display: grid;
    grid-template-columns: 57% 45%;
    gap: var(--s-2);
  }

  .introduction {
    justify-self: end;
    margin-right: clamp(1.25rem, -10.3571rem + 18.5714vw, 9.375rem);
  }

  .hero__plantin {
    margin-top: 0;
  }

  .sign,
  .sign-sold {
    width: 15rem;
    justify-self: auto;
    align-self: end;
    grid-row: 2;
    transform: translate(-5%, 4%)
  }

  .hero__house {
    background-image: url(../assets/img/background-house-large.svg);
    background-position-x: 90%;
    background-position-y: 2.5rem;
    background-size: 60%;
    grid-template-rows: 0.2fr 1fr 0.5fr;
    max-height: 30rem;
    align-self: center;
  }

  .hero__house.before {
    margin-top: var(--s-l-xl);
  }

  .button__img--hero {
    width: 226px;
  }

  .button__text--hero {
    font-size: var(--f-m-l)
  }

  .plantin {
    margin-top: -2rem;
  }

  .start {
    margin: 6rem 0 0 6rem;
    height: fit-content
  }

  .start__text {
    margin-right: var(--special-hero);
    max-width: 22rem;
  }

  .intro {
    margin-top: var(--s-l-xl);
    margin-bottom: var(--s-xl-xl)
  }

  .cp__passer {
    transform: rotate(0);
    justify-self: auto;
  }

  .cp__img--phone {
    display: none
  }

  .cp__img--desktop {
    display: block;
    width: 90%;
    justify-self: start;
  }

  .extra-popup-stamp {
    transform: translateX(-90%);
  }

  .extra-info-stamp {
    grid-column: 3;
    margin-left: var(--s-s);
  }

  .stamp {
    padding: 0;
  }

  .quiz--2 {
    grid-row: 2;
    grid-column: 3/ span 2;
    margin-left: 4rem;
    align-self: center;
    margin-top: 2rem;
  }

  .printmark1 {
    justify-self: center;
  }

  .printmark2 {
    margin-top: var(--s-l-xl);
  }

  .printmark2__name {
    grid-column: 2/ span 2;
    justify-self: center;
    margin-left: 4rem;
  }

  .printmark2__img {
    grid-column: 3;
  }

  .printmark2__number {
    grid-column: 1/span 2;
  }

  .printmark1__img {
    grid-column: 1/span 3;
    justify-self: start;
    margin-left: var(--s-0);
  }

  .quiz--1 {
    margin-top: -4rem;
  }

  .history__explain {
    align-self: end;
    justify-self: center;
    margin: 0 0 -5rem var(--s-l-xl);
  }

  .koepel__sitting {
    margin-top: clamp(-11rem, 29.625rem + -47.5vw, -6rem);
  }

  .words {
    background-size: contain
  }

  .koepel__reveal {
    max-width: clamp(46.875rem, 0rem + 62.5vw, 56.25rem);
    margin-top: 0;
  }

  .reveal__text1 {
    max-width: 20rem;
  }
}

@media only screen and (min-width: 1500px) {
  .introduction {
    margin-top: 3rem;
  }

  .sign,
  .sign-sold {
    width: 18rem;
    transform: translate(-5%, 4%);
  }

  .intro__math {
    margin: -10rem 0;
  }

  .words {
    max-width: 1200px;
  }
}