html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

:root {
  --bg-dark: #F1EFE9;
  --bg: #FBFAF7;
  --red: #B10B3A;
  --black: #333332;
  --orange: #E89D39;
  --orange-d: #DC8C21;

  /* 24 -> 90 */
  --space-m-3xl: clamp(1.5rem, 0.3214rem + 5.8929vw, 5.625rem);
  /* 160px -> 30px */
  --s-xxl: clamp(1.875rem, 20.666rem + -50.1931vw, 10rem);
  /* Space s: 24px → 50px */
  --sp-m-l: clamp(1.5rem, 0.8082rem + 2.5743vw, 3.125rem);

  --s-xxxl: 15rem;
  --s-1: 1rem;
  --s-2: 2rem;
  --s-3: 2.5rem;
  --s-4: 3rem;

  --f-5: 2.1875rem;

  /* Step 0: 18.5px → 20px */
  --f-0: clamp(1.1563rem, 1.1163rem + 0.1485vw, 1.25rem);
  /* Step 1: 22.2px → 24px */
  --f-1: clamp(1.3875rem, 1.3396rem + 0.1782vw, 1.5rem);
  /* Step 1: 24px → 27.6px */
  --f-2: clamp(1.5rem, 1.4042rem + 0.3564vw, 1.725rem);
  /*  80px → 230px */
  --f-big: clamp(5rem, 1.0087rem + 14.8515vw, 14.375rem);
  /* Step -1: 16.6667px → 19.1667px */
  --f-xs: clamp(1.0417rem, 0.9751rem + 0.2475vw, 1.1979rem);
  /* Step 0: 20px → 23px */
  --f-m: clamp(1.25rem, 1.1702rem + 0.297vw, 1.4375rem);
}

body {
  background-color: var(--bg);
  margin: 0 auto;
  font-family: "Yaldevi", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--black);
}

@font-face {
  font-family: 'Optima';
  src: url('../assets/fonts/OPTIMA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.optima {
  font-family: 'Optima', sans-serif
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.container {
  max-width: 1600px;
  overflow: hidden;
  place-self: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: no-wrap;
  width: 1px;
}

/*loading*/

.loading {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  background-color: var(--bg);
  place-self: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  justify-items: center;
  background-image: url(../assets/img/texture-loading-phone.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.loading__title {
  color: var(--bg-dark);
  font-size: var(--f-big);
  font-weight: bold;
  place-self: center;
  grid-row: 1;
  grid-column: 1/span 4;
  margin-bottom: var(--s-xxxl);
}

.loading__circle {
  object-fit: cover;
  grid-column: 2/span 2;
  grid-row: 1;
}

picture {
  display: block;
}

.loading__img--pl {
  width: 33.3rem;
}

.loading__img--pa {
  width: 7.9rem;
}

.plantin-hero {
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-content: center;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: var(--s-xxxl);
  margin-right: var(--s-xxl);
}

.plantin-hero--pl {
  grid-column: 1/ span 2;
  grid-row: 1;
}

.plantin-hero--pa {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  margin-bottom: var(--s-1);
}


/* hero */

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
  width: 100vw;
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: var(--s-3) var(--space-m-3xl) 0 var(--space-m-3xl);
  justify-content: space-between;
}

.navigation__button {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 7rem;
}

.button__text,
.button__img {
  grid-row: 1;
  transition: color 0.2s ease-in-out;
  grid-column: 1;
}

.button__text {
  font-size: var(--f-m);
}

.navigation__logo {
  width: 5.6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
}

.navigation__button:hover .svg__stroke {
  cursor: pointer;
  stroke: var(--red);
}

.svg__stroke {
  transition: stroke 0.2s ease-in-out;
}

.navigation__button:hover .button__text {
  color: var(--red);
  cursor: pointer;
}

/*hamburger menu*/

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  display: grid;
  grid-template-rows: auto 1fr 2fr;
  padding: var(--s-3) 0 0;
  overflow: hidden;
}

.close-btn {
  margin-left: var(--space-m-3xl);
  width: 3.8rem;
}

.menu__museum,
.menu__story {
  display: flex;
  flex-flow: column;
  gap: var(--s-3);
  justify-items: center;
  align-items: center;
}

.menu__museum {
  margin-top: var(--s-1);
}

.menu__story {
  margin-top: var(--s-4);
}

.menu__title {
  font-size: var(--f-5);
  text-align: center;
}

.menu__title--story {
  color: var(--red);
  margin-top: var(--s-2);
}

.menu__title--museum {
  color: var(--orange-d);
}

.menu__list {
  list-style: none;
  justify-items: center;
}

.menu__item {
  font-size: var(--f-1);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

*+.menu__item {
  margin-top: var(--s-3)
}

.menu__item:hover {
  color: var(--red);
}

.menu__story::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 100%;
  background-color: var(--bg-dark);
  border-radius: 50%;
  z-index: -1;
}

.menu__list--m {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: var(--sp-m-l);
  max-width: 30rem;
}

.menu__list--m .menu__item {
  margin-top: 0;
}

.menu.active {
  display: block;
}

.menu {
  display: none;
}

.close-btn:hover, .navigation__hamb{
  cursor: pointer;
  stroke: var(--red);
}


/* media queries */


@media only screen and (min-width: 600px) {

  .loading {
    grid-template-columns: 20% 20% 7.5% 5% 7.5% 20% 20%;
  }

  .loading__circle {
    width: 120%;
    grid-column: 2/span 5;
    margin-top: 20%;
  }

  .plantin-hero {
    margin-top: 20%;
    grid-column: 1/span 3;
    margin-right: 0;
  }

  .loading__title {
    grid-column: 1/ span 7;
  }
}

@media only screen and (min-width: 1000px) {
  .loading {
    background-image: url(../assets/img/texture-loading.png);
  }

  .plantin-hero {
    grid-column: 2/ span 3;
    margin-bottom: 15%;
    max-width: 35rem;
    margin-top: 0;
  }

  .loading__circle {
    margin-top: 3%;
    grid-column: 1/span 7;
    max-width: 60rem;
  }

  .loading__title {
    margin-bottom: 0;
  }

  .menu.active {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-3) var(--space-m-3xl);
  }


  .close-btn {
    align-self: flex-start;
    order: 3;
  }

  .menu {
    background-image: url(../assets/img/background-nav.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  .menu__story::before {
    content: "";
    background: none;
  }

  .menu__museum::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    transform: translate(-60%, -20%);
    width: 100%;
    border-radius: 50%;
    height: 180%;
    background-color: var(--bg-dark);
    z-index: -1;
  }

  .menu__museum {
    background: none;
    align-items: flex-start;
  }

  .menu__list--m {
    display: flex;
    margin-left: var(--sp-m-l);
    flex-flow: column;
    align-items: flex-start;
  }

  .menu__title--museum {
    margin-bottom: var(--sp-m-l);
  }

  .menu__story {
    margin-left: var(--s-xxxl);
  }

}