html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

:root {
  --bg-dark: #F1EFE9;
  --bg: #FBFAF7;
  --red: #B10B3A;
  --black: #333332;
  --orange: #E89D39;
  --orange-d: #DC8C21;

  /* 24 -> 90 */
  --space-m-3xl: clamp(1.5rem, 0.3214rem + 5.8929vw, 5.625rem);
  /* 160px -> 30px */
  --s-xxl: clamp(1.875rem, 20.666rem + -50.1931vw, 10rem);
  /* Space s: 24px → 50px */
  --sp-m-l: clamp(1.5rem, 0.8082rem + 2.5743vw, 3.125rem);
  /* Space s: 60px → 30px */
  --s-l-m: clamp(1.875rem, 4.5483rem + -2.9703vw, 3.75rem);
  /* Space s: 27px → 60px */
  --m-xl: clamp(1.6875rem, 1.05rem + 3vw, 3.75rem);
  /*  64px → 110px */
  --s-l-xl: clamp(4rem, -4.1458rem + 38.3333vw, 6.875rem);

  --s-xxxl: 15rem;
  --s-0: 0.9375rem;
  /*15*/
  --s-1: 1rem;
  --s-2: 2rem;
  --s-3: 2.5rem;
  --s-4: 3rem;

  --f-5: 2.1875rem;

  /* Step 0: 17.5px → 16.5px */
  --f-s: clamp(1.0313rem, 1.1204rem + -0.099vw, 1.0938rem);
  /* Step 0: 18px → 24px */
  --f-s-m: clamp(1.125rem, 0.9653rem + 0.5941vw, 1.5rem);
  /* Step 0: 17.5px → 20px */
  --f-xs-0: clamp(1.0938rem, 1.0455rem + 0.2273vw, 1.25rem);
  /* Step 0: 18.5px → 20px */
  --f-0: clamp(1.1563rem, 1.1163rem + 0.1485vw, 1.25rem);
  /* Step 0: 20px → 28px */
  --f-m-l: clamp(1.25rem, 1.0371rem + 0.7921vw, 1.75rem);
  /* Step 1: 22.2px → 24px */
  --f-1: clamp(1.3875rem, 1.3396rem + 0.1782vw, 1.5rem);
  /* Step 0: 22px → 31.9px */
  --f-1-l: clamp(1.375rem, 1.1116rem + 0.9802vw, 1.9938rem);
  /* Step 1: 24px → 27.6px */
  --f-2: clamp(1.5rem, 1.4042rem + 0.3564vw, 1.725rem);
  /*  80px → 230px */
  --f-big: clamp(5rem, 1.0087rem + 14.8515vw, 14.375rem);
  /* Step -1: 16.6667px → 19.1667px */
  --f-xs: clamp(1.0417rem, 0.9751rem + 0.2475vw, 1.1979rem);
  /* Step 0: 20px → 23px */
  --f-m: clamp(1.25rem, 1.1702rem + 0.297vw, 1.4375rem);
  /* Step 2: 25px → 31.9px */
  --f-l: clamp(1.5625rem, 1.4378rem + 0.6236vw, 1.999rem);
  /* Step 4: 39px → 56.8px */
  --f-xl: clamp(2.4414rem, 2.1241rem + 1.5866vw, 3.552rem);

  /*  290px → 323px */
  --width-text: clamp(18.125rem, 17.4875rem + 3vw, 20.1875rem);
  /* Space s: 200px → 330px */
  --width-text-2: clamp(14rem, 9.9886rem + 11.8182vw, 20.625rem);
}

body {
  background-color: var(--bg);
  margin: 0 auto;
  font-family: "Yaldevi", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--black);
  line-height: 134%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Optima';
  src: url('../assets/fonts/OPTIMA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.optima {
  font-family: 'Optima', sans-serif
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.container {
  max-width: 1600px;
  overflow: hidden;
  place-self: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: no-wrap;
  width: 1px;
}

/*loading*/

.loading {
  position: absolute;
  z-index: 5;
  overflow: hidden;
  background-color: var(--bg);
  place-self: center;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  justify-items: center;
  background-image: url(../assets/img/texture-loading-phone.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.loading__title {
  color: var(--bg-dark);
  font-size: var(--f-big);
  font-weight: bold;
  place-self: center;
  grid-row: 1;
  grid-column: 1/span 4;
  margin-bottom: var(--s-xxxl);
}

.loading__circle {
  object-fit: cover;
  grid-column: 2/span 2;
  grid-row: 1;
}

picture {
  display: block;
}

.loading__img--pl {
  width: 33.3rem;
}

.loading__img--pa {
  width: 7.9rem;
}

.plantin-hero {
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-content: center;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: var(--s-xxxl);
  margin-right: var(--s-xxl);
}

.plantin-hero--pl {
  grid-column: 1/ span 2;
  grid-row: 1;
}

.plantin-hero--pa {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  margin-bottom: var(--s-1);
}


/* hero */

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

header {
  width: 100vw;
  overflow: hidden;
  background-image: url(../assets/img/texture-phone-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: var(--s-3) var(--space-m-3xl) 0 var(--space-m-3xl);
  justify-content: space-between;
}

.navigation__button {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 7rem;
}

.button__text,
.button__img {
  grid-row: 1;
  transition: color 0.2s ease-in-out;
  grid-column: 1;
}

.button__text {
  font-size: var(--f-m);
}

.navigation__logo {
  width: 5.6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
}

.navigation__button:hover .svg__stroke {
  cursor: pointer;
  stroke: var(--red);
}

.svg__stroke {
  transition: stroke 0.2s ease-in-out;
}

.navigation__button:hover .button__text {
  color: var(--red);
  cursor: pointer;
}

/*hamburger menu*/

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  display: grid;
  grid-template-rows: auto 1fr 2fr;
  padding: var(--s-3) 0 0;
  overflow: hidden;
}

.close-btn {
  margin-left: var(--space-m-3xl);
  width: 3.8rem;
}

.menu__museum,
.menu__story {
  display: flex;
  flex-flow: column;
  gap: var(--s-3);
  justify-items: center;
  align-items: center;
}

.menu__museum {
  margin-top: var(--s-1);
}

.menu__story {
  margin-top: var(--s-4);
}

.menu__title {
  font-size: var(--f-5);
  text-align: center;
}

.menu__title--story {
  color: var(--red);
  margin-top: var(--s-2);
}

.menu__title--museum {
  color: var(--orange-d);
}

.menu__list {
  list-style: none;
  justify-items: center;
}

.menu__item {
  font-size: var(--f-1);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

*+.menu__item {
  margin-top: var(--s-3)
}

.menu__item:hover {
  color: var(--red);
}

.menu__story::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 100%;
  background-color: var(--bg-dark);
  border-radius: 50%;
  z-index: -1;
}

.menu__list--m {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: var(--sp-m-l);
  max-width: 30rem;
}

.menu__list--m .menu__item {
  margin-top: 0;
}

.menu.active {
  display: block;
}

.menu {
  display: none;
}

.close-btn:hover,
.navigation__hamb {
  cursor: pointer;
  stroke: var(--red);
}

/* hero*/

.hero {
  display: flex;
  flex-flow: column;
}

.plantin {
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-content: center;
  width: 21.5rem;
  grid-column: 1 / span 2;
  grid-row: 2/span 2;
  transform: translateX(-30%);
  margin-top: var(--s-l-m);
  width: 18rem;
}

.plantin__passer {
  margin-bottom: 40%;
}

.hero .hidden {
  display: none;
}

html:not(.has-js) .hidden {
  display: flex;
}

html:not(.has-js) .nojs-hide {
  display: none;
}

.button__text--hero {
  color: var(--red);
  font-size: var(--f-l);
}

.introduction__title,
.start__title {
  font-size: var(--f-xl);
}

.red {
  color: var(--red);
}

.introduction__text {
  font-size: var(--f-xs-0);
  text-align: center;
  margin-bottom: var(--s-0);
}

.introduction {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: var(--width-text);
  gap: var(--s-1);
  grid-column: 2/ span 2;
  grid-row: 2;
  margin-right: var(--space-m-3xl);
  justify-self: end;
}

.hero__button {
  width: 100%;
}

.start__text {
  font-size: var(--f-s);
}

.bold {
  font-weight: 600;
}

.plantin__name,
.house__name {
  color: var(--orange-d);
}

.plantin__name {
  font-size: var(--f-s-m);
  max-width: 6rem;
  margin-left: var(--space-m-3xl);
  grid-row: 1;
}

.plantin__name::after {
  content: "";
  position: absolute;
  left: 8%;
  top: 38%;
  width: 4.6rem;
  height: 0.8px;
  background-color: var(--black);
  transform: rotate(-80deg);
  transform-origin: left bottom;
}

.house__name {
  font-size: var(--f-m-l);
}

.big {
  font-size: var(--f-1-l);
}

.hero__plantin {
  display: grid;
  grid-template-columns: 15% 45% 40%;
  grid-template-rows: 25% 75%;
  margin-top: var(--s-l-m);
}

.start {
  grid-row: 1/ span 2;
  grid-column: 2/span 2;
  justify-self: center;
  margin-right: var(--space-m-3xl);
  display: flex;
  flex-flow: column;
}

.start__title {
  margin-left: -2rem;
  margin-bottom: var(--m-xl);
  line-height: 110%;
}

.start__text {
  max-width: 22rem;
}

.start__title--low {
  margin-left: 2rem;
}

.start__text--right {
  margin-top: var(--sp-m-l);
  margin-bottom: var(--s-2);
  max-width: var(--width-text-2);
  align-self: end;
}

.hero__house {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  background-image: url(../assets/img/background-house.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position-x: 100%;
  background-position-y: 130%;
}

.house {
  grid-column: 1/ span 3;
  grid-row: 2;
  width: 100%;
  z-index: 1;
  transform: translateX(8%);
}

.house__name,
.house__name--animation {
  grid-column: 2/span 2;
  grid-row: 1;
  justify-self: center;
  margin-bottom: var(--f-s);
}

.house__name--animation {
  grid-row: 1/span 2;
  width: 213px;
  height: 54px;
  align-self: start;
  object-fit: cover;
  margin-top: -1rem;
}

.sign,
.sign-sold {
  grid-column: 1/span 2;
  grid-row: 2;
  transform: translateX(4%) rotate(-10deg);
}

.hero__house.before {
  margin-top: var(--s-l-xl);
}

/* media queries */

@media only screen and (min-width: 430px) {
  .plantin {
    width: 20rem;
    transform: translateX(-20%);
  }

  .introduction {
    justify-self: center;
  }
}

@media only screen and (min-width: 600px) {

  .loading {
    grid-template-columns: 20% 20% 7.5% 5% 7.5% 20% 20%;
  }

  .loading__circle {
    width: 120%;
    grid-column: 2/span 5;
    margin-top: 20%;
  }

  .plantin-hero {
    margin-top: 20%;
    grid-column: 1/span 3;
    margin-right: 0;
  }

  .loading__title {
    grid-column: 1/ span 7;
  }
}

@media only screen and (min-width: 1000px) {
  .loading {
    background-image: url(../assets/img/texture-loading.png);
  }

  .plantin-hero {
    grid-column: 2/ span 3;
    margin-bottom: 15%;
    max-width: 35rem;
    margin-top: 0;
  }

  .loading__circle {
    margin-top: 3%;
    grid-column: 1/span 7;
    max-width: 60rem;
  }

  .loading__title {
    margin-bottom: 0;
  }

  .menu.active {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--s-3) var(--space-m-3xl);
  }

  .close-btn {
    align-self: flex-start;
    order: 3;
  }

  .menu {
    background-image: url(../assets/img/background-nav.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }

  .menu__story::before {
    content: "";
    background: none;
  }

  .menu__museum::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    transform: translate(-60%, -20%);
    width: 100%;
    border-radius: 50%;
    height: 180%;
    background-color: var(--bg-dark);
    z-index: -1;
  }

  .menu__museum {
    background: none;
    align-items: flex-start;
  }

  .menu__list--m {
    display: flex;
    margin-left: var(--sp-m-l);
    flex-flow: column;
    align-items: flex-start;
  }

  .menu__title--museum {
    margin-bottom: var(--sp-m-l);
  }

  .menu__story {
    margin-left: var(--s-xxxl);
  }

  header {
    background-image: url(../assets/img/texture-desktop-hero.png);
  }

}